/* write something different more different things*/

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}

/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {

}


@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {
}



body {
  background-color: rgb(225, 239, 252);

}

.header {
  background-color: rgb(26, 121, 165);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ----------- Header/Navbar ----------- */

li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px;
}

li a:hover {
  color: white;
  background-color: black;
}

/* ----------- Registration Page/User.js ----------- */

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.browser-default {
  margin-bottom: 10px;
}

::placeholder {
  text-align: center;
}

button {
  margin: 2px;
}
/*--------------Login.js page------*/

.form-group-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-group{
  display: flex;
  justify-content: center;
  align-items: center;
}
::placeholder {
  text-align: center;
}

button {
  margin: 2px;
}